
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@500&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

#banner {
    display:none;
    background-color: #292e1e;
    text-align: center;
    padding: .5rem;
}

header {
    display: grid;
    grid: 2fr 1fr / 1fr 2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: .7em;
    background-color: #7f0799;
    color: #afbbf2;
    padding: .6em;
    grid-column-gap: .8rem;
}

.logo {width: 10px;}

h1 {
    padding-left: 5px;
    justify-self: start;
}

button {
    background-color: #7f0799;
    color: white;
    border: none;
    font-size: 2em;
}

button:hover {cursor: pointer;}

.extra {display: none;}

.date {
    grid-row: 2/3;
    grid-column: 1/5;
    align-self: center;
}

nav {
	margin: 0 auto;
	max-width: 760px;
}
.navigation {
	list-style: none;
	padding: 0;
    margin: 0;
    padding: .5rem;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0;
    font-size: 1em;
    top: 15%;
}

.navigation li {display: none;}

.navigation a {
	display: block;
	padding: 0.75rem 2vw;
	text-decoration: none;
	color: white;
	transition: 0.2s;
}

nav ul li.active a, .navigation a:hover {background-color: #292e1e;}

.hidden {display: none;}

.toggle-btn {padding: 1em;}

.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.responsive li {display: block;}

.responsive ul {
    position: absolute;
    width: 100%;
}

.responsive a {background-color: #292e1e;}

main {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    margin-bottom: .5rem;
    font-size: 1em;
}

main section {background-color: #7f0799;}

main section h3 {
    color: black;
    background-color: #d3fff3;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    margin: 0;
}

main section h4, main section p {font-weight: lighter;}

main section p a {
    color: white;
    font-weight: normal;
    padding: 0 .25em;
}

main section p a:hover {color: #afbbf2;}

.spotlight {
    display: grid;
    grid: 1fr 1fr / 1fr;
    grid-row-gap: 1em;
}

.spotlight div {
    border: 4px double #d3fff3;
    margin: 0;
}

.spotlight div p {
    color: white;
    font-weight: normal;
}
#spotlight3 {display: none;}

.join {
    display: none;
    background-color: #9649cb;
    color: white;
}

.logo {width: 75px;}

.icon {width: 40px;}

.social a img {
    padding: .3em;
}

.hero {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    background-color: #9649cb;
}

.hero .hero-photo {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: -1;
    margin: 0;
}

.hero-photo img {
    width: 100%;
    height: 100%;
}

.hero h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 1em;
    color: black;
    background-color: #d3fff3;
    margin: 0;
    width: fit-content;
    height: fit-content;
    font-size: 2em;
}

.hero button {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: right;
    align-self: end;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    font-size: 2em;
    color: #292e1e;
    background-color: #d3fff3;
}

.event {
    padding: 0 1em;
    background-color: #9649cb;
    color:white
}

.weather, .weather h3 {
    background-color: #292e1e;
    color: white;
    padding: .5em;
}

.weather {
    color: white;
}

.weather img {
    float: left;
}

.weather h4 {
    font-size: xx-large;
    font-weight: bold;
    margin: 2px auto;
}

#temp {
    padding-left: 20px;
}

.weather h5 {
    text-align: center;
    font-weight: 500;
    font-size: medium;
    border-bottom: 2px white solid;
    margin: 0;
    margin-top: 13px;
    padding-bottom: 5px;
}

.news {
    background-color: #292e1e;
    color: white;
}

.news h3 {
    padding: 1em 1em .5em 1em;
    background-color: #292e1e;
    color: white;
}

.news p {
    padding: 0 1em 0 1em;
    margin-top: 5px;
    font-weight: lighter;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #7f0799;
    color: white;
}

.contact-info a {color: lightgray;}

.contact-info a:hover {color: darkgray;}

.wdd-info {padding: .5rem;}

/******************
   Discover Page
******************/

.discover-main {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content);
    max-width: 400px;
}

.discover-main h2 {
    color: #7f0799;
    font-size:xx-large;
    padding-left: 1em;
    margin-bottom: auto;
}

.deck {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.card {
    display: grid;
    justify-items: center;
    padding: 1em;
    margin: 1em auto;
    background-color: #9649cb;
    /* z-index: -2; */
}

.card p {
    margin-top: auto;
    padding: 0 1em;
}

.discover img[data-src] {
    filter: blur(0.2em);
  }
.discover img {
    filter: blur(0em);
    transition: filter 0.1s;
    /* z-index: -1; */
  }

.discover-main > p {
    font-style: italic;
    color: white;
}
form {
    margin: auto .5rem;
}

.join-main h2 {
    text-align: center;
    padding: 2rem;
    color: white;
    background-color: #7f0799;
    margin:0;
}

.description {
    display: none;
}

form fieldset {
    margin: 2rem 0;
    border: 2px dotted #292e1e;
    border-radius: 10px;
    padding: .5rem 2.5%;
    max-width: 25rem;
    padding-inline-end: 2rem;
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: .5rem;
    background-color: #d3fff3;
    border-radius: 10px;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    padding-right: 1rem;
    color: #7f0799;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display:block;
    padding: .75rem 0;
    color: #555;
}

form textarea {
    width: 88%;
    background-color: rgba(0,0,0,0.1);
    padding: .2rem;
}

form input.submitBtn {
    border: none;
    background-color: #d3fff3;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 95%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    background-color: #9649cb;
    color: white;
    cursor: pointer;
}

form label.top input:required {
    border: #9649cb solid 2px;
}

.level {
    font-weight: bold;
}

.cost {
    background-color: #9649cb;
    color: white;
    padding: .25rem 1rem;
    margin-left: .5rem;
    border-radius: 10px;
}

.thankyou-main {
    grid-template-columns: 1fr;
    font-size: xx-large;
    padding: 1rem;
    justify-items: center;
}

.thankyou-main h2 {
    margin-bottom: 1rem;
}

.thankyou-main p {
    border: #9649cb dotted 3px;
    padding: 1rem;
    margin-top: 1rem;
    font-size: medium;
}

.thankyou-main img {
    max-width: 400px;
    float: right;
    max-height: 400px;
}
