@media only screen and (min-width: 34em) {
    header {font-size: .7em;}

    .logo {width: 75px;}

    .extra {
        display: initial;
        font-size: .75em;
        font-weight: 500;
    }

    main {
        font-size: 1em;
        margin: 0 auto 1em auto;
    }

    h2 {
        font-size: 2em;
        padding: 1.5em;
    }

    .home-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 1em;
    }

    .hero{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .news {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .join {
        grid-column: 1/4;
        grid-row: 4/5;
        display: initial;
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
    }

    .join button {
        color: #292e1e;
        background-color: #d3fff3;
        padding: 10px;
        border-radius: 7px;
        width:75%;
        margin: .25em auto;
    }


    .join p {
        padding: 0 1em 0 .5em;
        font-weight: normal;
    }

    .event {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .weather h4 {
        font-size: medium;
    }

    .spotlight {
        grid-column: 1/4;
        grid-row: 3/4;
        grid: 1fr / 1fr 1fr;
        grid-column-gap: 5px;
    }

    .top-footer {
        display: grid;
        grid: 1fr / 1fr 1fr;
        align-items: center;
    }

    .company {
        display: grid;
        grid: 1fr 1fr / 1fr 2fr;
        text-align: left;
    }

    .company p {
        padding-top: .5em;
        padding-left: .5em;
        margin-top: 0;
    }

    .company h3 {
        margin-block-end: 0;
        padding-left: .5em;
    }


    .company img {
        grid-column: 1/2;
        grid-row: 1/3;
        justify-self: end;
        align-self: center;
        padding-right: .5em;
    }

    .contact {align-self: center;}

    .discover-main {
        display: grid;
        grid-template-rows: minmax(min-content, max-content);
        grid-template-columns: minmax(min-content, max-content);
    }

    .card img {
        transition: transform 0.2s ease-in-out;
    }

    .card img:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }

    .join-main {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .thankyou-main {
		grid: 1fr / 1fr 1fr;
        grid-row-gap: 0;

	}

	.thankyou-main h2 {
		align-self: end;
		font-size: x-large;
        margin-top: .5em;
	}

	.thankyou-main p {
		grid-column: 2/3;
        margin-left: .5em;
	}

	.thankyou-main img {
		grid-row: 1/3;
		max-height: 450px;
        justify-self: end;
        padding-right: .5em;
	}


    .list-view section {
        grid-template-columns: repeat(4, 1fr);
    }

    .card-view {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-main form {
        grid-column: 1/3;
    }

    .contact-main form fieldset, .contact-main form .submitBtn {
        max-width: 25rem;
    }

    .contact-main .submitBtn {
        margin-left: .5rem;
    }

    .google-map {
        grid-column: 1/2;
        margin-top: 1rem;
    }

    .information {
        grid-column: 2/3;
        margin-left: 10px;
        margin-top: 0;
        justify-self: left;
    }

}

