@media only screen and (min-width: 34em) {
    header {font-size: .7em;}

    .logo {width: 75px;}

    .extra {
        display: initial;
        font-size: .5em;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        font-size: 1em;
        max-width: 600px;
        margin: 0 auto 1em auto;
        grid-row-gap: 1em;
    }

    .hero{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .hero h2 {
        font-size: 2em;
        padding: 1.5em;
    }

    .news {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .join {
        grid-column: 1/4;
        grid-row: 4/5;
        display: initial;
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
    }

    .join button {
        color: #292e1e;
        background-color: #d3fff3;
        padding: 10px;
        border-radius: 7px;
        width:75%;
        margin: .25em auto;
    }

    .join p {
        padding: 0 1em 0 .5em;
        font-weight: normal;
    }

    .event {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .spotlight {
        grid-column: 1/4;
        grid-row: 3/4;
        grid: 1fr / 1fr 1fr;
        grid-column-gap: 5px;
    }

    .top-footer {
        display: grid;
        grid: 1fr / 1fr 1fr;
        align-items: center;
    }

    .company {
        display: grid;
        grid: 1fr 1fr / 1fr 2fr;
        text-align: left;
    }

    .company p {
        padding-top: .5em;
        padding-left: 20px;
    }

    .company h2 {
        margin-block-end: 0;
        padding-left: 20px;
    }


    .company img {
        grid-column: 1/2;
        grid-row: 1/3;
        justify-self: end;
        align-self: center;
    }

    .contact {align-self: center;
    }
    .join-main {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .thankyou-main {
        grid-row-gap: 0;
    }
}