@media only screen and (max-width: 415px) {
  /* Header */
  header {
      flex-flow: column;
      justify-content: space-around;
      margin-top: 2em;
      height: 230px;
      align-items: center;
      -webkit-box-shadow: 2px 8px 16px 2px #40798c;
      -moz-box-shadow: 2px 8px 16px 2px #40798c;
      box-shadow: 2px 8px 16px 2px #40798c;
  }
  .headerRight {
      font-size: 1.8em;
  }
  .stickIt {
      position: relative;
      top: 0;
      z-index: 5;
  }

/* Navigation */
  nav button { display: block;
      top: 190px;}
  .navigation {
      -webkit-box-shadow: 2px 8px 16px 2px #40798c;
  -moz-box-shadow: 2px 8px 16px 2px #40798c;
      box-shadow: 2px 8px 16px 2px #40798c;
  }
  nav ul {
      flex-flow: column;
      justify-content: flex-end;
      list-style-type: none;
      padding: 0;
      margin: 0;    
  }
  nav ul li a {
      display: block;
      padding: .8rem 2%;
      text-decoration: none;
      border-top: 1px solid #40798c;
      color: #0b2027;
  }
  nav ul li.active a {
      background-color: #cfd7c7;
      color: rgb(121, 121, 121);
      border-radius: 0 1em 1em 0; 
  }
  nav ul li.active a:hover {
      background-color: #cfd7c7;
      color: rgb(121, 121, 121);
      border-radius: 0 1em 1em 0;
      box-shadow: none; 
  }
  nav ul.hide {
      display: none;
  }
  nav li a:hover {
      background-color: #cfd7c7;
      color: #0b2027;
      box-shadow: 2px 0 16px 2px #40798c;
  }
  nav li a:active {
      background-color: #cfd7c7;
      border-radius: 1em 1em 0 0;
      color: #0b2027;
  }

  /* Page Title */
  .pageTitle {
      font-size: 2em;
  }


/* Footer */
footer {
  max-width:100%;
}
.footerBzInfo{
  align-content: center;
  align-items: center;
  padding: 0.2em;
}
#prefootMid { 
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1em;
}
.iconLinks {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
#midfootMid a {  
  align-self: center;
  padding: 5px;
}
#map iframe {
  max-width: 370px;
  height: 200px;
}




/**************
*  
* Home Page
*
***************/
/* Hero img and book now btn */
.heroContainer img {
  max-width: 100%;
  margin: 0;
  z-index: 0;
}
.heroContainer {
  width: 100%;
}
.heroContainer a {
  width: 100%;
  padding: 0.3em 0;
  font-size: 1.1em;
}
.heroContainer a:hover {
  background-color: #40798c;
  color: #0b2027;
}
.bookNowBtn {
  display: block;
  width: 100%;
}

#homeContent {
  width: 100%;
}
#mainWelcome {
  flex-flow: column;
  justify-content: center;
  width: 100%;
}

/* Welcome description text and image */
#mainWelcome > div:nth-child(1) {
  padding: 0 1em;
}
#mainImgDiv {
  max-width: 100%;
  margin: 0 auto;
}
#mainImgDiv img{
  align-content: center;
}
.homeMain {
  flex-flow: column;
}
#mainImgDiv picture {
  width: 100%;
}
/* temple info section */
.templeInfoContainer {
  flex-flow: column;
  max-width: 90%;
  margin: 2em 1em;
  padding: 1em;
}
/* amenities info section */
.amenitiesHome {
  flex-flow: column;
  max-width: 90%;
  margin: 1em;
}


/**************
*  
* Temple Page
*
***************/
.templeTop {
  margin-top: 3em;
}
.templeBottom {
  margin-bottom: 3em;
}

/**************
*  
* Reservation Page
*
***************/
/* Form Container */
.containerReservation {
  width: 100%;
  display: flex;
  flex-flow: column;
}
#reservationTitle {
  width: 100%;
  align-self: center;
}
.containerReservation > div {
  justify-content: center;
  align-items: center;
}
.reservationFormWrapper {
  display: flex; 
  justify-content: center;
  align-self: center;
  max-width: 400px;
}
.reservationForm {
  margin: 1em;
  justify-content: center;
  align-content: center;
}
/* Form Content */
#reservationInputTop > div > div {
  margin: 1em;
}
#reservationInputTop {
  flex-flow: column;
  justify-content: space-evenly;
}
#upperUpper, #lowerUpper {
  flex-flow: column;
  justify-content: space-around;
}
#upperUpper > div, #lowerUpper > div {
  justify-content: space-evenly;
  margin-right: 1.5em;
}
#upperUpper > div label, #lowerUpper > div label {
  display: block;
}
.reservationForm .messageReservation {
  flex-flow: column;
  width: 85%;
}
.reservationForm .messageReservation textarea{
  height: 200px;
  width: 100%;
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #70a9a1;
  padding: 10px;
  color: #0b2027;
}

/**************
*  
* Contact Page
*
***************/
.containerContact{
  flex-direction: column;
}
.formField{
  flex-flow: column;
  justify-content: center;
}
.contact-form{
  max-width: 300px;
  padding: 10px;
}
.input-field{
  flex-direction: column;
  width: 100%;
}
.bznssInfo{
  flex-flow: row wrap;
  align-self: center;
}


/**************
*  
* Resources Page
*
***************/
#resourcesContainer {
  max-width: 90%;
}

}