main, footer {
  font-family: Ubuntu;
}

table{
  margin: 0 auto;
  box-shadow: 5px 5px 10px #53131e;
}

.table-header {
  font-size: x-large;
}

.subheading {
  font-size: large;
}

.subheading, #goal-met {
  background-color: #53131e;
  color: white;
}

td, th, h1{
  text-align: center;
  padding: .5em;
}

.table-header, .table-footer {
  background-color: #5a464c;
  color: white;
}

tr:nth-child(even) {
  background-color: #b5d6b2;
}

tr:nth-child(odd) {
  background-color: #ffefbd;
}

.black-friday {font-style: italic;}

.table-footer {
  font-size: small;
}

footer {
  text-align: center;
  margin-top: 2em;
}

@media only screen and (min-width:600px) {
  table {
      width: 50%;
      max-width: 450px;
  }
}